<div class="container">
    <h1 class="mt-3">Category List</h1>

    <div class="d-flex justify-content-end my-3">
        <a [routerLink]="['add']" class="btn btn-primary">Add Category</a>
    </div>

    <div *ngIf="categories.length == 0" class="alert alert-primary text-center" role="alert">
        No Data Available
    </div>

    <ng-container *ngIf="categories  && categories.length> 0 ">
        <table class="table table-bordered mt-3">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>URl Handle</th>
                    <th> </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let category of categories">
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td>{{category.urlHandle}}</td>
                    <td><button [routerLink]="['/admin/categories', category.id]" class="btn btn-secondary btn-sm">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <router-outlet></router-outlet>
</div>